# Strings, Lists, Tuples: properties, methods and formatting

### Exercise 3.1

Given this text:

```python
text = "The quick brown fox jumps over the lazy dog"
```

Return the number of characters included in it.

In [1]:
text = "The quick brown fox jumps over the lazy dog"

print(len(text))

43

It contains 43 characters, including spaces.

### Exercise 3.2

For the same text as in the previous exercise, how many words are there in the text?

In [2]:
words_in_text = text.split()

print(len(words_in_text))

9

We can use `len` on the list of strings result of `split` to get the number of words in a string. There are 9 words separated by spaces.

### Exercise 3.3

Create a variable called `name` that contains a string including your first name and last name(s) separated by a space. 

Then convert your `name` into lowercase and uppercase letters.

Save each one of them into different variables called `name_lower` and `name_upper`.

Then print all the three variables.

In [3]:
name = "Dani Daniel"

name_lower = name.lower()

name_upper = name.upper()

print(name)
print(name_lower)
print(name_upper)

Dani Daniel
dani daniel
DANI DANIEL

### Exercise 3.4

Using the following text:

```python
text = "The quick brown fox jumps over the lazy dog"
```

Extract the following slices:
* First ten characters
* First ten characters not taking into account whitespaces (hint: use `replace`)
* Last ten characters
* Every other character, starting from the first one
* Every third character, starting from the last one

In [2]:
text = "The quick brown fox jumps over the lazy dog"

In [3]:
# first ten characters
text[:10]

'The quick '

In [4]:
# first then characters without whitespaces
text.replace(' ', '')[:10]

'Thequickbr'

In [5]:
# last ten characters
text[-10:]

'e lazy dog'

In [6]:
# every other character, starting from the first one
text[::2]

'Teqikbonfxjmsoe h aydg'

In [7]:
# every third character, starting from the last one
text[::-3]

'g ae vsux o i T'

### Exercise 3.5

Create a list named `fruits` with the following words in it: `banana`, `apple`, `orange`, `lemon`, `cherry`, `strawberry`, `grapefruit`.

Then sort the list alphabetically and print it.

In [11]:
fruits = ['banana', 'apple', 'orange', 'lemon', 'cherry', 'strawberry', 'grapefruit']

fruits.sort()

print(fruits)

['strawberry', 'orange', 'lemon', 'grapefruit', 'cherry', 'banana', 'apple']

### Exercise 3.6

Using the fruits list, create a string with the following format:

```
My favorite fruits are: banana, apple, orange, lemon, cherry, strawberry, grapefruit.
```

There shouldn't be whitespaces at the beginning or at the end of the string.

In [16]:
favorite = f'My favorite fruits are: {", ".join(fruits).strip()}.'

print(favorite)

My favorite fruits are: strawberry, orange, lemon, grapefruit, cherry, banana, apple.

### Exercise 3.7

Create a list of lists called `vegan` where the first one is `fruits` list, and the second list is made out of with the following words: `tomato`, `potato`, `carrot`, `onion`, `garlic`, `lettuce`, `cucumber`.

In [17]:
vegetables = ['tomato', 'potato', 'carrot', 'onion', 'garlic', 'lettuce', 'cucumber']

vegan = [fruits, vegetables]

vegan

[['strawberry', 'orange', 'lemon', 'grapefruit', 'cherry', 'banana', 'apple'],
 ['tomato', 'potato', 'carrot', 'onion', 'garlic', 'lettuce', 'cucumber']]

### Exercise 3.8

Extract the following from `vegan`:

* The 1st element of the 2nd list
* The last letter of the 4th element of the 1st list
* The 2nd letter of the 3rd element of the 2nd list
* The 5th word of the 1st list but reversed

In [18]:
# 1st element of the second list
vegan[1][0]

'tomato'

In [19]:
# last letter of the 4th element of the 1st list
vegan[0][3][-1]

't'

In [20]:
# 2nd letter of the 3rd element of the 2nd list
vegan[1][2][1]

'a'

In [21]:
# 5th word of the 1st list reversed
vegan[0][4][::-1]

'yrrehc'

### Exercise 3.9

Create a new list containing tuples where each tuple contains one fruit and one vegetable from the `vegan` list.

In [22]:
list(zip(fruits, vegetables))

[('strawberry', 'tomato'),
 ('orange', 'potato'),
 ('lemon', 'carrot'),
 ('grapefruit', 'onion'),
 ('cherry', 'garlic'),
 ('banana', 'lettuce'),
 ('apple', 'cucumber')]

### Exercise 3.10

Take the `vegetables` list, sort it alphabetically, and then create a new list with tuples where each tuple contains the position of the vegetable in the sorted list and the vegetable itself.

Remember that the `sort()` method will sort the list in memory and returns `None`. So first you need to sort the list, and then use it in your exercise.

In [24]:
vegetables.sort()

list(enumerate(vegetables))

[(0, 'carrot'),
 (1, 'cucumber'),
 (2, 'garlic'),
 (3, 'lettuce'),
 (4, 'onion'),
 (5, 'potato'),
 (6, 'tomato')]

### Exercise 3.11

Add the following fruits and vegetables to the `fruits` and `vegetables` lists, respectively: `pear`, `peach`, `broccoli`, `spinach`.

Then create a new list called `fruits_and_vegetables` that contains all the `fruits` and `vegetables` lists.

You can use the following approaches:
* `+` operator to concatenate lists
* `append()` method to add elements to a list one by one
* `extend()` method to add all the elements of a list to another list

In [30]:
fruits = ['banana', 'apple', 'orange', 'lemon', 'cherry', 'strawberry', 'grapefruit']
vegetables = ['tomato', 'potato', 'carrot', 'onion', 'garlic', 'lettuce', 'cucumber']

fruits = fruits + ['peach', 'pear']
vegetables = vegetables + ['broccoli', 'spinach']

fruits_and_vegetables = fruits + vegetables

fruits_and_vegetables

['banana',
 'apple',
 'orange',
 'lemon',
 'cherry',
 'strawberry',
 'grapefruit',
 'peach',
 'pear',
 'tomato',
 'potato',
 'carrot',
 'onion',
 'garlic',
 'lettuce',
 'cucumber',
 'broccoli',
 'spinach']

In [29]:
fruits = ['banana', 'apple', 'orange', 'lemon', 'cherry', 'strawberry', 'grapefruit']
vegetables = ['tomato', 'potato', 'carrot', 'onion', 'garlic', 'lettuce', 'cucumber']

# using append
fruits.append('pear')
fruits.append('peach')

vegetables.append('broccoli')
vegetables.append('spinach')

fruits_and_vegetables = fruits + vegetables

fruits_and_vegetables

['banana',
 'apple',
 'orange',
 'lemon',
 'cherry',
 'strawberry',
 'grapefruit',
 'pear',
 'peach',
 'tomato',
 'potato',
 'carrot',
 'onion',
 'garlic',
 'lettuce',
 'cucumber',
 'broccoli',
 'spinach']

In [31]:
# using extend()

fruits = ['banana', 'apple', 'orange', 'lemon', 'cherry', 'strawberry', 'grapefruit']
vegetables = ['tomato', 'potato', 'carrot', 'onion', 'garlic', 'lettuce', 'cucumber']

fruits.extend(['pear', 'peach'])
vegetables.extend(['broccoli', 'spinach'])

fruits_and_vegetables = fruits + vegetables

fruits_and_vegetables

['banana',
 'apple',
 'orange',
 'lemon',
 'cherry',
 'strawberry',
 'grapefruit',
 'pear',
 'peach',
 'tomato',
 'potato',
 'carrot',
 'onion',
 'garlic',
 'lettuce',
 'cucumber',
 'broccoli',
 'spinach']